<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn" monitorInterval="30">
    <Appenders>
        <Console name="ConsoleAppender" target="system_out">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %x [%X{process-param}] %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.e2open.datahub" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="off">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
